*{
    box-sizing: border-box;
}
.line{
    width: 100%;
    height: 4px;
    background-image:linear-gradient(to right,#0434F2 35%,rgba(4, 52, 242, 0.75) 80%); 
    filter: blur(8px);
}
.hamberMenu{
    width: 320px;
    height: 100px;
    background-image:linear-gradient(to right,#0434f2 35%,rgba(4, 52, 242, 0.3) 80%); 
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git,.phone,.email{
    transition: 250ms linear;
}
.clock{
    font-family: 'Digital Numbers',sans-serif;
}
.chart1{
    position: absolute;
    left: 10%;
}