*{
    box-sizing: border-box;
}
.line{
    width: 100%;
    height: 4px;
    background-image:linear-gradient(to right,#0434F2 35%,rgba(4, 52, 242, 0.75) 80%); 
    filter: blur(8px);
}
.hamberMenu{
    width: 100%;
    height: 30vh;
    background-image:linear-gradient(to right,#0434F2 35%,rgba(4, 52, 242, 0.75) 80%); 
    position: fixed;
    bottom: 0;
    filter: blur(16px);
}
.git,.phone,.email{
    transition: 250ms linear;
}
.clock{
    font-family: 'Digital Numbers',sans-serif;
}